


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;
$color-white: #fff;


:root {
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  
  
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --shadow-dark:  0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; //1200px;
$bp-large: 68.75em; //1100px;
$bp-medium: 56.25em; //900px;
$bp-small: 37.5em; //600px;
$bp-smallest: 31.25em; //500px;

@font-face {
  font-family: 'retro';
  src:url("./fonts/nickerbockernf.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: 'retro', sans-serif;
  font-weight: 400;
  max-width: 120rem;
  margin: 0 auto;
  background-color: rgba(25, 22, 22, 1.0);
 
}


